<!DOCTYPE html>
<html>
<head>
    <title>Savings Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ username }}</h1>
    <table border="1">
        <tr>
            <th>Account Number</th>
            <th>Username</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        {% for data in datas %}
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>
                <a href="/withdraw/{{ data[0] }}?return_url={{ url_for('savings_dashboard') }}">Withdraw</a>
                <a href="/credit/{{ data[0] }}?return_url={{ url_for('savings_dashboard') }}">Credit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/logout">Logout</a>
    </div>
</body>
</html>
